page-search {

    .searchbar-input {
        box-shadow: none;
        background: #eaeaea;
        border-radius: 15px;
    }

    .search-suggest-box {
        max-height: 300px;
        margin: -15px 13px 10px;
        overflow: scroll;
    
        &.active {
            border: 1px solid #eaeaea;
        }
        .wrapper {
            padding: 15px 10px 10px;
        }
    }

    .item-box {
        display: flex;
        padding-bottom: 20px;

        .item-thumbnail-wrapper {
            width: 100px;

            .item-thumbnail {
                padding-top: 100%;
                background-size: cover;    
            }
        }
    }
}
