<!--
  Generated template for the SearchPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>search</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>

  <div [ngClass]="{'active': items}" class="search-suggest-box">
    <div class="wrapper">
      <div *ngFor="let item of items">
        <div class="item-box">
          <div class="item-thumbnail-wrapper">
            <div class="item-thumbnail" [ngStyle]="{'background-image':'url('+item.item_thumbnail+')'}"></div>
          </div>
          <div class="item-detail">
            <div class="item-name">
              {{ item.item_name }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


</ion-content>